@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik/static/Rubik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik/static/Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik/static/Rubik-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e3f2fd;
  font-family: 'Rubik', sans-serif;
}

p {
  margin-bottom: 0;
}

.header-container {
  background-color: #0d6efd;
  color: #fff;
  text-align: center;
  padding: 16px 0;
}

.content-container {
  margin-top: 32px;
}

.content-container .btn {
  padding-top: 10px;
  padding-bottom: 10px;
}

.weather-container {
  background-color: #0d6efd;
  color: #fff;
  padding: 12px 30px;
  border-radius: 6px;
}

.weather-container div:first-child h3 {
  margin-bottom: 16px;
}

.weather-container div:first-child p {
  margin-bottom: 10px;
}

.weather-future-container h2 {
  margin: 24px 0 12px 0;
}

.weather-item {
  min-width: 200px;
  background-color: #6c757d;
  color: #fff;
  padding: 10px 16px;
  border-radius: 6px;
  margin-bottom: 8px;
}

.weather-item p {
  margin-bottom: 10px;
}

.weather-history-container {
  gap: 12px;
}

.weather-history-container .weather-item {
  background-color: #0d6efd;
  max-width: 250px;
}

.weather-item__name {
  min-height: 48px;
  display: flex;
  align-items: center;
}